{% extends "base.html.twig" %}

{% block body %}

    <header>
        <div class="row container-fluid">
            <div id="index-banner" class="parallax-container">
                <div class="section no-pad-bot">
                    <div class="container">
                        <br><br>
                        <h1 class="header center amber-text text-darken-1" id="acceuil_titre_card">{{ biblio.name }}</h1>
                    </div>
                </div>
                <div class="parallax"><img src="/img/fond1.jpg" alt="Background"></div>
            </div>
        </div>
    </header>

    <section class="container">

        <div class="row card">
            <div>
                <h2>Nombre de prêts par date</h2>
            </div>

            <div class="dropdown_pret_mois_biblio">
                <a  id="nom_dropdown_mois_1" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_1'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown_mois_1" class="dropdown-content">

                    <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>

                    {% for item in lesMois  %}
                        <li><a onclick="controlDropdowns('{{ item.mois }}', '{{ item.moisString }}');" class="white-text">{{ item.moisString }}</a></li>
                    {% endfor %}

                </ul>
            </div>

                <div class="row col s12">
                    <article class="col s12 ">
                        <div id="timeline">
                            <svg></svg>
                        </div>
                    </article>
                </div>

        </div>

        <div class="card">

            <h2>Informations générales</h2>

            <div class ="row">
                <article class="col s3">
                    <div class="col-content white center"><p>Nombre de notices </p></p><div class="number">{{ nbNotices.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
                <article class="col s3">
                    <div class="col-content white center"><p>Nombre d'emprunteurs </p></p><div class="number">{{ nbBorrowers.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
                <article class="col s3">
                    <div class="col-content white center"><p>Nombre d'emprunts total </p></p><div class="number">{{ nbEmprunts.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
                <article class="col s3">
                    <div class="col-content white center"><p>Nombre de notices empruntés</p></p><div class="number">{{ nbNoticesEmpruntes.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
            </div>
            <div class="row ">
                <article class="col s3">
                    <div class="col-content white center"><p>Premier prêt </p></p><div class="number">{{ firstEmprunt.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
                <article class="col s3">
                    <div class="col-content white center"><p>Dernier prêt </p></p><div class="number">{{ lastEmprunt.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
                <article class="col s3">
                    <div class="col-content white center"><p>Nombre d'auteurs </p></p><div class="number">{{ nbAuteurs.nb|number_format(0, ',', ' ') }}</div></div>
                </article>
                <article class="col s3">
                    <div class="col-content white center"><p>Nombre d'emprunts moyen par mois</p></p><div class="number">{{ moyenneEmpruntParMois|number_format(0, ',', ' ') }}</div></div>
                </article>
            </div>

        </div>


        <article class="card row">

            <h2>Les 5 auteurs les plus empruntés</h2>

            <div class="row s12 col" id="div_topauthors">

                {% for item in top5auteurs  %}
                    <a href="#"><div class="card book col s3 center bottom topauthors">
                            <img src="{{ asset('img/person.png') }}" class="miniature" alt="auteur">
                            <h5 class="truncate">{{ item.author }}</h5>
                            <p><span>{{ item.issues }}</span> emprunts</p>
                        </div>
                    </a>
                {% endfor %}

            </div>

        </article>

        {#SELECT SUM(issues) FROM book GROUP BY author;#}

        <article class="row card">
        <div class="row s12 col" id="div_topbooks">

            <h2>Les 30 livres les plus empruntés</h2>

            {% for i in 0..7 %}
                <a href="#">
                    <div class="card book col s3 center bottom topbooks fullbook">
                        <img src="{{ asset('img/book2.png') }}" alt="livre">
                        <h5 class="truncate"><span>{{ i+1 }}. </span>{{ topNotices[i].title }}</h5>
                        <p class="truncate">{{ topNotices[i].author }}</p>
                        <p id="text_top_book-bottom"><span>{{ topNotices[i].issues }}</span> emprunts</p>
                    </div>
                </a>
            {% endfor %}


            {% for i in 8..19 %}
                <a href="#">
                    <div id="div_books_part_2" class="card book2 col s2 center bottom topbooks">
                        <img src="{{ asset('img/book2.png') }}" alt="livre">
                        <p id="title_book" class="truncate"><span>{{ i+1 }}. </span>{{ topNotices[i].title }}</p>
                        <p class="truncate">{{ topNotices[i].author }}</p>
                        <p id="text_top_book-bottom"><span>{{ topNotices[i].issues }}</span> emprunts</p>
                    </div>
                </a>
            {% endfor %}

            <table class="striped tablesorter">

                <tbody>
                {% for i in 20..29 %}
                    <tr>
                        <td>{{ i+1 }}.</td>
                        <td> <a href="#"> <p id="title_book_table" >{{ topNotices[i].title }} </p></a> </td>
                        <td>{{ topNotices[i].author }}</td>
                        <td>{{ topNotices[i].issues }} emprunts</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>


        </div>

    </article>

        <article class="row card">
            <h2>Le public</h2>

            {#<p>Nombre d'emprunteurs : </p>#}
            <h3>Ratio hommes / femmes : </h3>

            <div class="col s5 card" id="div_genre_biblio">
                <svg style="height: 500px;">

                </svg>
            </div>
            <div class="col-content white center">
                <h5>Nombre d'emprunteurs </h5>
                <div class="number">{{ nbBorrowers.nb|number_format(0, ',', ' ') }}</div>
            </div>

        </article>

        <div class="card">
            <h2>A noter</h2>

            <p>Nombre de livres qui sont dans d'autres bibliothèques de Prévu : </p>
        </div>

        <div class="card">
            <h2>Nouvelles interfaces</h2>
            
            <ul>
                <li>par années de publication -> focus sur une année</li>
                <li>un auteur pour une biblio</li>
                <li>un livre pour une biblio</li>
                <li>plus tard : une œuvre pour une biblio</li>
            </ul>
        </div>
        
    </section>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>

    <script src="https://d3plus.org/js/d3plus.js"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/timeline_emprunt_annee.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>

    {# viz timeline #}
    <script>

        function lancer_timeline(id, mois,moisString){

            var url = '{{ path("api_biblio_mois",{'id' : 'varId', 'mois': 'varMois'}) }}';
            url = url.replace("varId", id);
           // url = url.replace("varAnnee", annee);
            url = url.replace("varMois", mois);

            var moisFr;

//            if(mois == "00"){
//                moisFr = "Ensemble de la période"
//            }else if(mois == 1){
//                moisFr = "Janvier";
//            }else if(mois == 2){
//                moisFr = "Février";
//            }else if(mois == 3){
//                moisFr = "Mars";
//            }else if(mois == 4){
//                moisFr = "Avril";
//            }else if(mois == 5){
//                moisFr = "Mai";
//            }else if(mois == 6){
//                moisFr = "Juin";
//            }else if(mois == 7){
//                moisFr = "Juillet";
//            }else if(mois == 8){
//                moisFr = "Août";
//            }else if(mois == 9){
//                moisFr = "Septembre";
//            }else if(mois == 10){
//                moisFr = "Octobre";
//            }else if(mois == 11){
//                moisFr = "Novembre";
//            }else{
//                moisFr = "Décembre";
//            }

            d3.json(url , function(error, data) {
                timeline_emprunt_annee_choix_couleur("timeline svg", moisString, data, "ffb300");
            });
        }
    </script>

    <script>

        controlDropdowns("00", "Ensemble de la période");

        function controlDropdowns(moisNb, moisString){

            var nomsDropdowns = document.getElementsByClassName('span_nom_mois_heures');
            var i;
            for (i = 0; i < nomsDropdowns.length; i++) {
                nomsDropdowns[i].textContent = moisString;
            }



            lancer_timeline({{ biblio.idlibrary }}, moisNb,moisString);
        }
    </script>

    <script>

        function genre_biblio(idBiblio){

            var url = '{{ path("api_biblio_genre_by_biblio", {'id': 'varId'}) }}';
            url = url.replace("varId", idBiblio);

            d3.json(url , function(error, data) {
                console.log(data);
                donut_simple_avec_legende("div_genre_biblio svg", data, true);
            });
        }

        genre_biblio({{ biblio.idlibrary }});

    </script>

{% endblock %}