<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Prévu{% block title %} - Accueil{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}

            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <!--Import materialize.css-->
            <link rel="stylesheet" href="{{ asset('assets/vendor/materialize/dist/css/materialize.css') }}">

            <!--NVD3 -->
            <link rel="stylesheet" href="{{asset('assets/vendor/nvd3/build/nv.d3.min.css')}}">

            <!-- custom -->
            <link rel="stylesheet" href="{{ asset('css/style.css')}}">

        {% endblock %}

    </head>
    <body>

    {% block header %}

        <!-- Nav & Log FOS -->

        <ul id="menu_article" class="dropdown-content">
            <li><a href="{{ path('ecran') }}" class="amber-text text-darken-1">Article</a></li>
            <li><a href="{{ path('ecran_editor') }}" class="amber-text text-darken-1">Editeur</a></li>
        </ul>

        <ul id="menu_admin" class="dropdown-content">
            <li><a href="{{ path('admin') }}" class="amber-text text-darken-1">Gestion</a></li>
            <li><a href="{{ path('import') }}" class="amber-text text-darken-1">Import</a></li>
        </ul>

        <ul id="menu_biblio" class="dropdown-content">
            <li><a href="{{ path('bibliotheque', {"id" : 1}) }}" class="amber-text text-darken-1">SCD Paris 8</a></li>
            <li><a href="#" class="amber-text text-darken-1">SCD Paris 10 (bientôt)</a></li>
            <li><a href="#" class="amber-text text-darken-1">DILA (bientôt)</a></li>
            <li><a href="{{ path('paris_bn') }}" class="amber-text text-darken-1">Bibliothèque numérique de Paris</a></li>
            <li><a href="{{ path('bibliotheque', {"id" : 2 }) }}" class="amber-text text-darken-1">BM Roubaix</a></li>
            <li><a href="{{ path('bibliotheque', {"id" : 3 }) }}" class="amber-text text-darken-1">Paris ENS - Saclay</a></li>
            <li><a href="{{ path('all') }}" class="amber-text text-darken-1">Général BM</a></li>
        </ul>

        <div class="navbar-fixed">
            <nav class="white amber-text text-darken-1 " id="barre_nav">
                <div class="nav-wrapper container">

                    <a id="lien_logo" href=""><img id="logo" src="" alt=""></a>

                    <a href="{{ path('homepage')}}" class="brand-logo left amber darken-1">Prévu</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">

                        <li ><a class="amber-text text-darken-1" href="{{ path('contribuer') }}">Contribuer</a></li> <!-- page qui explique comment récupérer les données -->

                        <li><a href="" class="amber-text text-darken-1">Œuvres</a></li>

                        <!-- -->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            {% if is_granted('ROLE_BIBLIO') %}
                                <li><a class="dropdown-button amber-text text-darken-1" href="#!" data-activates="menu_biblio">Bibliothèques<i class="material-icons right">arrow_drop_down</i></a></li>

                                <!-- A terme ajouter rôle de bibliothécaire -->
                                <li><a class="dropdown-button amber-text text-darken-1" href="#!" data-activates="menu_article">Article<i class="material-icons right">arrow_drop_down</i></a></li>

                            {% endif %}


                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-button amber-text text-darken-1" href="#!" data-activates="menu_admin">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
                            {% endif %}

                            <li class="amber-text text-darken-1">connected as {{ app.user.username }}</li>
                            <li><a class="amber-text text-darken-1" href="{{ path('fos_user_security_logout') }}">logout</a></li>
                        {% else %}
                            <li><a class="amber-text text-darken-1" href="{{ path('fos_user_security_login') }}">connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>


    {% endblock %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="container">
            <div class="card-panel">
                <span class="teal-text">{{msg}}</span>
            </div>
        </div>
    {% endfor %}


    {#{% block header %}#}

        {#<!-- Nav & Log FOS -->#}

        {#<ul id="menu_add" class="dropdown-content">#}
            {#<li><a href="{{ path('homepage') }}">accueil</a></li>#}
        {#</ul>#}

        {#<div class="navbar-fixed">#}
            {#<nav class="amber darken-1">#}
            {#<nav class="white amber-text text-darken-1 ">#}
                {#<div class="nav-wrapper container">#}

                    {#<img id="logo" src="{{ asset('img/labex_web-develop-gris-clair.png') }}" alt="">#}

                    {#<a href="/" class="brand-logo left amber darken-1">Prévu</a>#}
                    {#<ul id="nav-mobile" class="right hide-on-med-and-down ">#}
                        {#<li><a href="" class="amber-text text-darken-1">Œuvres</a></li>#}
                        {#<li>Version 2.1 (test)</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</nav>#}
        {#</div>#}

    {#{% endblock %}#}

    {% block body %}{% endblock %}

    {%  block footer %}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Version 2.5 (test)</h5>
                        <p class="grey-text text-lighten-4">Prévu / ImPrévu - La version présentée ici est encore une version de test, merci pour votre indulgence.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Quelques liens</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Bibliothèque universitaire de Paris 8</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Bibliothèque universitaire de Paris 10</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Bibliothèque numérique de Paris</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    MIT licence
                    <a class="grey-text text-lighten-4 right" href="#!">Visitez notre page Facebook</a>
                </div>
            </div>
        </footer>


    {% endblock %}

    {% block javascripts %}

        <script>
            document.getElementById('logo').src="{{ asset('img/paris.png') }}";
            document.getElementById('lien_logo').href="{{ path('paris_bn') }}";
        </script>

        <!-- JQuery -->
        <script src = "{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>

        <!-- jquery 2 for parallax -->
        <script
                src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <!-- Table sorter -->
        <script type="text/javascript" src="{{ asset('assets/vendor/tablesorter/jquery.tablesorter.js') }}"></script>

        <!-- NVD3 -->
        <script type="text/javascript" src="{{asset('assets/vendor/d3/d3.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/vendor/nvd3/build/nv.d3.js')}}"></script>


        <!-- Materialize -->
        <script type="text/javascript" src="{{asset('assets/vendor/materialize/dist/js/materialize.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('assets/vendor/materialize/js/parallax.js')}}"></script>

        <!-->

        <script type="text/javascript" src="{{asset('js/prevu.js')}}"></script>

    {% endblock %} <!-- javascript block -->


    </body>

</html>





