<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Prévu{% block title %} - Accueil{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link rel="stylesheet" href="{{ asset('assets/vendor/materialize/dist/css/materialize.css') }}">

        <!--NVD3 -->
        <link rel="stylesheet" href="{{asset('assets/vendor/nvd3/build/nv.d3.min.css')}}">

        <!-- custom -->
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">

    {% endblock %}

</head>
<body>

{% block header %}

{% endblock %}

{% for msg in app.session.flashBag.get('success') %}
    <div class="container">
        <div class="card-panel">
            <span class="teal-text">{{msg}}</span>
        </div>
    </div>
{% endfor %}


{% block body %}{% endblock %}



{% block javascripts %}

    <script>
        document.getElementById('logo').src="{{ asset('img/paris.png') }}";
        document.getElementById('lien_logo').href="{{ path('paris_bn') }}";
    </script>

    <!-- JQuery -->
    <script src = "{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>

    <!-- jquery 2 for parallax -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <!-- Table sorter -->
    <script type="text/javascript" src="{{ asset('assets/vendor/tablesorter/jquery.tablesorter.js') }}"></script>

    <!-- NVD3 -->
    <script type="text/javascript" src="{{asset('assets/vendor/d3/d3.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/vendor/nvd3/build/nv.d3.js')}}"></script>


    <!-- Materialize -->
    <script type="text/javascript" src="{{asset('assets/vendor/materialize/dist/js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/vendor/materialize/js/parallax.js')}}"></script>

    <!-->

    <script type="text/javascript" src="{{asset('js/prevu.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/narration.js')}}"></script>


{% endblock %} <!-- javascript block -->


</body>

</html>





