{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
    <style>

        h1{
            margin-bottom: 50px;
        }

        #top-page{
            background-image: url({{ asset('img/fond_bn.jpg') }});
        }

        .billets .card{
            text-align: center;
            height: 170px;
        }

        .billets .card .number{
            font-size: 4em;
        }

    </style>
{% endblock %}

{% block body %}


    <section class="container">


        <h1>{{ auteur.author }}</h1>

        <div class=" row" >

            <div class="row s12 billets">

                <div class="col s6 card">
                    <h4>Nombre de prêts</h4>
                    <div class="number"> {{ prets.nb }}</div>
                </div>


                <div class="col s6 card">
                    <h4>Nombre d'ouvrages</h4>
                    <div class="number">{{ books|length }}</div>
                </div>

            </div>

            <div class="row s12 billets">

                <div class="col s6 card">
                    <h4>Âge moyen des lecteurs</h4>
                    <div class="number">{{ age.age|round() }} ans</div>
                </div>

                <div class="col s3 card">
                    <h4>Prêt min</h4>
                    <div class="number">{{ min.nb }}</div>
                </div>

                <div class="col s3 card">
                    <h4>Prêt max</h4>
                    <div class="number">{{ max.nb }}</div>
                </div>


            </div>



        </div>

        <br>
        <hr>

        <div class="card row">
            <div class="col s5">
                <h4> Sexe </h4>
                <div id="stat_genre" style="height: 400px;">
                    <svg>

                    </svg>
                </div>
            </div>

            <div class="col s7" id="block_classification">
                <h4> Genre de livres écrit par l'auteur  </h4>
                    <div id="classification_treemap" style="height: 400px; width: 100%;">

                    </div>

            </div>
        </div>

        <div class="card row">
            <div>
                <h2>Livres les plus populaires</h2>
            </div>


                <div class="row s12 col">
                    {% for item in books  %}
                    <a href="{{ path('paris_bn_book' , {'ean' : item.ean } ) }}">
                        <div class="card book col s3 center bottom topbooks">
                            <img class="miniature" src="{{ asset('img/book2.png') }}" alt="livre">
                            <h3 class="truncate">{{ item.title }}</h3>
                            <h4>{{ item.author }}</h4>
                            <p><span class="red-text">{{ item.nb }}</span> emprunts</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>



            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}



    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
    <script src="https://d3plus.org/js/d3plus.js"></script>
    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/barchart_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/treemap_simple.js') }}"></script>


    <script>
        function lancer_donut_stats(auteur) {

            var url = '{{ path("api_bn_repartitiongenreauteur",{'auteur': 'author'}) }}';
            url = url.replace("author", auteur);

            d3.json(url , function(error, data) {
                donut_simple("stat_genre svg", data);
            });
        }

        function lancer_tree_map_classification(auteur){
            var url = '{{ path("api_bn_classificationauteur",{'auteur': 'author'}) }}';
            url = url.replace("author", auteur);

            d3.json(url , function(error, data) {
                console.log(data);
                treemap_simple("classification_treemap", data);
            });
        }

        function afficher_livre(auteur){
            var url = '{{ path("api_bn_livreauteur",{'auteur': 'author'}) }}';
            url = url.replace("author", auteur);

            d3.json(url , function(error, data) {
                var topbooks = document.getElementsByClassName('topbooks');
                var i;

                var liens = document.querySelectorAll('#div_topbooks a');


                for (i = 0; i < topbooks.length; i++) {

                    //liens[i].setAttribute("src", "leLien");
                    // topbooks[i].querySelector('img').setAttribute("src", "/img/person.png");
                    topbooks[i].querySelector('h3').textContent=data[i].title;
                    topbooks[i].querySelector('h4').textContent=data[i].author;
                    topbooks[i].querySelector('p span').textContent=data[i].nb;

                }
            });

        }

        lancer_tree_map_classification("{{ auteur.author }}");
        lancer_donut_stats("{{ auteur.author }}");

    </script>

{% endblock %}
