{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

    <section class="container">
        <article class="row">

            <h1>{{ classification }}</h1>

            <div class="card row">
                <h3>Livres</h3>

                <div class="row s12 col" id="div_topbooks">

                    {% for item in top_books  %}
                        <a href="{{ path('paris_bn_book' , {'ean' : item.ean } ) }}">
                            <div class="card book col s3 center bottom topbooks">
                                <img src="{{ asset('img/book2.png') }}" class="miniature" alt="livre">
                                <h3 class="truncate">{{ item.title }}</h3>
                                <h4>{{ item.author }}</h4>
                                <p><span class="red-text">{{ item.nb }}</span> emprunts</p>
                            </div>
                        </a>
                    {% endfor %}

                </div>
            </div>

            <div class="card row">
                <h3>Auteurs</h3>
            </div>

            <div class="card row">

                <div class="row s12 col" id="div_topauthors">

                    {% for item in top_authors  %}
                        <a href="{{ path('paris_bn_author' , {'name' : item.author } ) }}"><div class="card book col s3 center bottom topauthors">
                                <img src="{{ asset('img/person.png') }}" class="miniature" alt="livre">
                                <h4>{{ item.author }}</h4>
                                <p><span class="red-text">{{ item.nb }}</span> emprunts</p>
                            </div>
                        </a>
                    {% endfor %}

                </div>

            </div>

        </article>

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>

    <script src="https://d3plus.org/js/d3plus.js"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
    <script src="https://d3plus.org/js/d3plus.js"></script>
    <!-- END D3.JS -->

    <script>

         function get_livres(classification) {

            var url = '{{ path("api_bn_book_classification",{'genre': 'genre'}) }}';
            url = url.replace("genre", classification);

                 d3.json(url , function(error, data) {

                     var topbooks = document.getElementsByClassName('topbooks');
                     var i;

                     var liens = document.querySelectorAll('#div_topbooks a');


                     for (i = 0; i < topbooks.length; i++) {

                         //liens[i].setAttribute("src", "leLien");
                         // topbooks[i].querySelector('img').setAttribute("src", "/img/person.png");
                         topbooks[i].querySelector('h3').textContent=data[i].title;
                         topbooks[i].querySelector('h4').textContent=data[i].author;
                         topbooks[i].querySelector('p span').textContent=data[i].nb;

                     }
                 });

        }


        function get_auteurs(classification){

            var url = '{{ path("api_bn_auteur_classification",{'genre': 'genre'}) }}';
            url = url.replace("genre", classification);


            d3.json(url , function(error, data) {

                var topauthors = document.getElementsByClassName('topauthors');
                var i;

                var liens = document.querySelectorAll('#div_topauthors a');

                for (i = 0; i < topauthors.length; i++) {


                    var url = '{{ path('paris_bn_author' , {'name' : 'varName' } ) }}';
                    url = url.replace("varName", data[i].author);


                    liens[i].setAttribute("href", url);
                    // topbooks[i].querySelector('img').setAttribute("src", "/img/person.png");
                    topauthors[i].querySelector('h4').textContent=data[i].author;
                    topauthors[i].querySelector('p span').textContent=data[i].nb;

                }
            });

        }

         afficher_information("Littérature française Romans Nouvelles Correspondance ");

         function afficher_information(classification){
             get_livres(classification);
             get_auteurs(classification);
         }

    </script>


{% endblock %}