{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
    <style>
        .btn{
            margin-top: 15px;
            background : #E53935 !important;
        }

        .active{
            /*color : #E53935 !important;*/
        }
    </style>

{% endblock %}

{% block body %}


    <section class="container">
        <h1>Chercher un auteur</h1>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input type="text" id="searchAuteur" class="autocomplete">
                <label for="searchAuteur">Ecrire le nom d'un auteur, par exemple "Elena Ferrante" (3 caractères minimum)</label>
            </div>
            {#<a href="#" class="btn right" onclick="goURL();" >Valider</a>#}

        </div>


        <a class="waves-effect waves-light btn" id="modal" onclick="goURL();" href="">Rechercher</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 class="center">Rechercher un auteur</h4>
                <br>
                <p class="story">Veuillez écrire le nom d'un auteur pour accéder à la page correspondante.
                    <br>
                    Si l'auteur n'apparait pas dans la liste, c'est qu'il n'a pas été emprunté.</p>
            </div>
            <div class="modal-footer">
                <a href="#!"  onclick="goURL();" class="modal-action modal-close waves-effect waves-green btn-flat">Continuer</a>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>


        function goURL(){
            input = $("#searchAuteur").val();

            if(input.length > 0){
                $('#modal').attr("href", '/paris/bn/author/'+input);
            }
            else{
                $('#modal').attr("href", "#modal1");
            };
        }

        $(document).ready(function() {


            //Autocomplete
            $(function() {
                $.ajax({
                    type: 'GET',
                    url: '/api/bn/search/authors',
                    success: function(response) {
                        var authorsArray = response;
                        console.log(authorsArray[0].author);
                        var dataAuthors = {};
                        for (var i = 0; i < authorsArray.length; i++) {
                            console.log(authorsArray[i].author);
                            dataAuthors[authorsArray[i].author] = authorsArray[i].flag; //countryArray[i].flag or null
                        }
                        console.log(dataAuthors);
                        $('input.autocomplete').autocomplete({
                            data: dataAuthors,
                            limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                        });
                    }
                });
            });
        });



    </script>
{% endblock %}