{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">

{% endblock %}

{% block body %}
    <section class="container">
        <h1>Chercher un auteur</h1>

        {#<div class="col s12">#}
            {#<div class="input-field">#}
                {#<input class="purple darken-4 autocomplete" id="autocomplete-input" type="search">#}
                {#<label for="autocomplete-input"><i class="material-icons">search</i></label>#}
                {#<i class="material-icons">close</i>#}
            {#</div>#}
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="searchAuteur" class="autocomplete">
                <label for="searchAuteur">Ecrire le nom d'un auteur, par exemple "Elena Ferrante" (3 caractères minimum)</label>
            </div>
         </div>




    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

<script>

//    $(document).ready(function() {
//
//        $('input.autocomplete').autocomplete();
//        $('.modal').modal();
//
//    });


    $(document).ready(function(){

        $("#searchAuteur").keyup(function(){

            input = $("#searchAuteur").val();

            if(input.length > 0){
                $(function() {
                    $.ajax({
                        type: 'GET',
                        url: '/api/bn/search/author/'+input,
                        success: function(json){
                            console.log(json[0]);
                        }
                    })
                });


            }//if input length

        });

        $('input.autocomplete').autocomplete({
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": 'http://placehold.it/250x250'
            },
            minLength : 2 //ne marche pas?
        });


    });

    $("#searchAuteur").keyup(function(){

        input = $("#searchAuteur").val();

            //Autocomplete
            $(function() {
                $.ajax({
                    type: 'GET',
                    url: '/api/bn/search/author/'+input,
                    success: function(json) {
                        if (input.length > 1){
                                console.log(input.length)
                                var auteursArray = json;
                                var dataAuteurs = {};
                                for (var i = 0; i < auteursArray.length; i++) {
//                                    console.log(auteursArray[i].author);
                                    dataAuteurs[auteursArray[i].author] = auteursArray[i].flag; //auteursArray[i].flag or null
                                }
                                $('input.autocomplete').autocomplete({
                                    data: dataAuteurs,
                                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                                    minLength : 2
                                });
                            }
                        }
                });
            });
        });





//    function searchAuteur(){
//
//        $("#searchAuteur").keyup(function(){
//            input = $("#searchAuteur").val();
//
//            var _auteurs = {};
//
//            if (input.length > 2){
//                jQuery.when(
//                    jQuery.getJSON('/api/bn/search/author/'+input)
//                ).done(function (json){
//                    for(var i= 0; i < json.length; i++){
//                        console.log(json[i]['author']);
//                    }
//                });
//            }
//        });
//
//    }
//


//    $(document).ready(function() {
//        //Autocomplete
//        $(function() {
//            $.ajax({
//                type: 'GET',
//                url: 'https://restcountries.eu/rest/v2/all?fields=name',
//                success: function(response) {
//                    var countryArray = response;
//                    var dataCountry = {};
//                    for (var i = 0; i < countryArray.length; i++) {
//                        //console.log(countryArray[i].name);
//                        dataCountry[countryArray[i].name] = countryArray[i].flag; //countryArray[i].flag or null
//                    }
//                    $('input.autocomplete').autocomplete({
//                        data: dataCountry,
//                        limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
//                    });
//                }
//            });
//        });
//    });



</script>
{% endblock %}