{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

    <div>
        <section id="top-page" style="background-image: url({{ asset('img/fond_bn.jpg') }})">
            <a href="https://bibliotheque-numerique.paris.fr/" target="_blank"><img src="{{ asset('img/logo_bn_top_page.png') }}"/></a>
        </section>
    </div>

    <section class="container">

        <div class="row">
            <div class="card row">
                <h2>Les gros emprunteurs</h2>
                <h5>Les gros emprunteurs correpondent aux emprunteurs qui empruntent entre 11 et 12 livres.</h5>
            </div>

            <div class="card col s12">
                <article class="col s6">
                    <div class="col-content white center">
                        <div class="row">
                            <h5>Nombre d'emprunteurs</h5>
                            <p class="number"> {{ nb_gros_emprunteurs }} sur {{ nb_total_emprunteurs }}</p>
                            <p>Soit</p>
                            <p class="number"> {{ ((nb_gros_emprunteurs / nb_total_emprunteurs)*100)|round() }}% du nombre total d'emprunteurs</p>
                            <hr>
                        </div>
                    </div>

                    <div class="col-content white center">
                        <div class="row">
                            <h5>Nombre d'emprunts</h5>
                            <p class="number"> {{ nb_total_emprunts_gros_emprunteurs }} sur {{ nb_total_emprunts }}</p>
                            <p>Soit</p>
                            <p class="number"> {{ ((nb_total_emprunts_gros_emprunteurs / nb_total_emprunts)*100)|round() }}% du nombre total d'emprunts</p>
                            <hr>
                        </div>
                    </div>

                    <div class="col-content white center">
                        <div class="row">
                            <h5>Âge moyen emprunteurs</h5>
                            <p class="number"> {{ (ageTotal / nb_gros_emprunteurs)|round() }} ans</p>
                        </div>
                    </div>
                </article>

                <!-- <article class="card col s4">
                    <div class="col-content white center">
                        <p>Liste des Emprunteurs</p>
                        {% for item in liste_gros_emrunteurs  %}
                            <p> Emprunteur : {{ item.emprunteur }} - {{ item.nb_emprunts }} emprunts</p>
                        {% endfor %}
                    </div>
                </article> -->

                <article class="col s6">
                    <div class="col-content white center">
                        <p>Répartition hommes/femmes</p>
                        <div id="stat_genre">
                            <svg style="height: 500px;"></svg>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-content white center">
            <div id="csp_gros_emprunteurs" class="card col s6" style="height: 500px;">
                <h4> Répartition par CSP </h4>
                <svg></svg>
            </div>
        </div>

        <!--<article class="card col s8">
            <div class="col-content white center" style="height: 500px;" id="csp_gros_emprunteurs">
                <svg style="height:600px;"></svg>
            </div>
        </article>-->
    </section>





{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/barchart_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>


    <script>
        function lancer_donut_stats() {

            var url = '{{ path("api_bn_repartition_genre_gros_emprunteurs") }}';

            d3.json(url , function(error, data) {
                donut_simple("stat_genre svg", data,false);
            });
        }

        lancer_donut_stats();


        function lancer_donut_csp(){

            var url = '{{ path("api_bn_repartition_csp_gros_emprunteurs") }}';

            d3.json(url , function(error, data) {
                donut_simple_avec_legende("csp_gros_emprunteurs svg", data);
            });

        }

        lancer_donut_csp();
    </script>





{% endblock %}