{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

    <div>
        <section id="top-page" style="background-image: url({{ asset('img/fond_bn.jpg') }})">
            <a href="https://bibliotheque-numerique.paris.fr/" target="_blank"><img src="{{ asset('img/logo_bn_top_page.png') }}"/></a>
        </section>
    </div>

    <section id="bnp" class="container">

        <article class="card row" id="general">

            <div class="row col s12">

                <h2>Les 100 auteurs les plus lus de la Bibliothèque Numérique</h2>

            </div>


            <div class="row s12 col" id="div_topbooks">

                {% for i in 0..7 %}
                    <a href="{{ path('paris_bn_author' , {'name' : top_authors[i].author } ) }}"><div class="card book col s3 center bottom topauthors">
                            <img src="{{ asset('img/person.png') }}" alt="livre">
                            <h4>{{ top_authors[i].author }}</h4>
                            <p><span class="red-text">{{ top_authors[i].nb }}</span> emprunts</p>
                        </div>
                    </a>
                {% endfor %}

                <table class="striped tablesorter">

                    <tbody>
                    {% for i in 8..49 %}
                        <tr>
                            <td>{{ i+1 }}.</td>
                            <td><a href="{{ path('paris_bn_author' , {'name' : top_authors[i].author } ) }}">{{ top_authors[i].author }}</a></td>
                            <td>{{ top_authors[i].nb }} emprunts</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </article>

    </section>

{% endblock %}

