{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

    <div>
        <section id="top-page" style="background-image: url({{ asset('img/fond_bn.jpg') }})">
            <a href="https://bibliotheque-numerique.paris.fr/" target="_blank"><img src="{{ asset('img/logo_bn_top_page.png') }}"/></a>
        </section>
    </div>

    <section id="bnp" class="container">

        <article class="card row" id="general">

            <div class="row col s12">

                <h2>Les 100 livres les plus empruntés de la Bibliothèque Numérique</h2>

            </div>


            <div class="row s12 col" id="div_topbooks">

                {% for i in 0..7 %}
                    <a href="{{ path('paris_bn_book' , {'ean' : top_books[i].ean } ) }}">
                        <div class="card book col s3 center bottom topbooks fullbook">
                            <img src="{{ top_books[i].image }}" alt="livre">
                            <h3 class="truncate"><span class="red-text">{{ i+1 }}. </span>{{ top_books[i].title }}</h3>
                            <h4>{{ top_books[i].author }}</h4>
                            <p id="text_top_book-bottom"><span class="red-text">{{ top_books[i].nb }}</span> emprunts</p>
                        </div>
                    </a>
                {% endfor %}


                {% for i in 8..19 %}
                    <a href="{{ path('paris_bn_book' , {'ean' : top_books[i].ean } ) }}">
                        <div class="card book2 col s2 center bottom topbooks">
                            <img src="{{ top_books[i].image }}" alt="livre">
                            <h3 class="truncate"><span class="red-text">{{ i+1 }}. </span>{{ top_books[i].title }}</h3>
                            <h4 class="truncate">{{ top_books[i].author }}</h4>
                            <p id="text_top_book-bottom"><span class="red-text">{{ top_books[i].nb }}</span> emprunts</p>
                        </div>
                    </a>
                {% endfor %}

                <table class="striped tablesorter">

                    <tbody>
                    {% for i in 20..99 %}
                        <tr>
                            <td>{{ i+1 }}.</td>
                            <td> <a href="{{ path('paris_bn_book' , {'ean' : top_books[i].ean } ) }}"> {{ top_books[i].title }} </a> </td>
                            <td>{{ top_books[i].author }}</td>
                            <td>{{ top_books[i].nb }} emprunts</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </article>

    </section>

    {# 9782072681592 https://images-na.ssl-images-amazon.com/images/I/410BfyaKaXL.jpg #}
    {# 9782072657559 https://images-na.ssl-images-amazon.com/images/I/51kZz08VixL.jpg #}
    {# https://images-na.ssl-images-amazon.com/images/I/714ckucvN7L.jpg #}
    {# d #}
    {# d #}
    {# d #}
    {# UPDATE `stats_bn_logs` SET `image`="https://images-na.ssl-images-amazon.com/images/I/51IpniDQieL.jpg" WHERE `ean`="9782072622885"; #}

{% endblock %}



