{% extends "simple.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rapport.css')}}">

    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica" rel="stylesheet">
{% endblock %}

{% block body %}


    <section class="container">

        <article id='conteneur-p2' class="hideme">

            <p class="texte">{{ totalBorrowerFor1library.nb }} lecteurs actifs </p>

            <p class="texte">{{ totalIssueFor1libraryForAYear.nb }} prêts</p>

            <p class="myButton texte">
                <a href="#modal1">Plus d'informations</a>
            </p>

            {#<p>1 an avant : prêts = {{ totalIssueFor1libraryFor1YearBefore.nb }}, emprunteur = {{ totalBorrowerFor1libraryFor1YearBefore.nb }} </p>#}
            {#<p>2 an avant : prêts = {{ totalIssueFor1libraryFor2YearBefore.nb }}, emprunteur = {{ totalBorrowerFor1libraryFor2YearBefore.nb }}</p>#}

        </article>


        <!-- Modal Trigger -->


        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 class="center">Années précédentes</h4>
                <table>
                    <tr>
                        <th>Année</th>
                        <th>Total prêts</th>
                        <th>Total d'emprunteurs</th>
                    </tr>
                    <tr>
                        <td>{{ year-1 }}</td>
                        <td>{{ totalIssueFor1libraryFor1YearBefore.nb }}</td>
                        <td>{{ totalBorrowerFor1libraryFor1YearBefore.nb }}</td>
                    </tr>
                    <tr>
                        <td>{{ year-2 }}</td>
                        <td>{{ totalIssueFor1libraryFor2YearBefore.nb }}</td>
                        <td>{{ totalBorrowerFor1libraryFor2YearBefore.nb }}</td>
                    </tr>


                </table>
            </div>
        </div>

    </section>

    <footer>

    <div id="div_footer">

        <a id="precedent" href="{{ path('bibliovizz_page' , {'year': year, 'page' :1, 'library' : library } ) }}"><i class="large material-icons">arrow_left</i></a>

        <a id="suivant" href="{{ path('bibliovizz_page' , {'year': year, 'page' :3, 'library' : library } ) }}"><i class="large material-icons">arrow_right</i></a>

    </div>


    </footer>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->


    <script>
        $('.hideme p').first().fadeIn(3000);
        $('.hideme p:nth-child(1)').css('marginLeft', '50px');
        $('.hideme p:nth-child(2)').delay(1000).fadeIn(4000);
        $('.hideme p:nth-child(2)').css('marginBottom', '10px');
        $('.hideme p:nth-child(2)').css('marginLeft', '200px');
        $('.hideme p:nth-child(3)').css('marginLeft', '400px');
        $('.hideme p:nth-child(3)').delay(1500).fadeIn(4000);


    </script>

{% endblock %}