{% extends "simple.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rapport.css')}}">

    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica" rel="stylesheet">
{% endblock %}

{% block body %}

    <section class="container valign" data-fragment="4" style="display: inline-block">

        <h2 class="center">Comparaison  des étudiants {{ year }} vs {{ year-1 }}</h2>

        <article class="card" style="height: 550px">

            <div id="moyenne_container" style="height: 400px; width: 1000px;">

            </div>

        </article>

    </section>

    <footer>

        <div id="div_footer">

            <a id="precedent" href="{{ path('bibliovizz_page' , {'year': year, 'page' :4, 'library' : library } ) }}"><i class="large material-icons">arrow_left</i></a>

            {#<a id="suivant" href="{{ path('bibliovizz_page' , {'year': year, 'page' :6, 'library' : library } ) }}"><i class="large material-icons">arrow_right</i></a>#}

        </div>


    </footer>



{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>

    <script src="https://d3plus.org/js/d3plus.js"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/timeline_emprunt_annee.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/heatmap_day_hour.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/treemap_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_ile_de_france.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_paris.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/viz_mediane.js') }}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>



    <script>

        function lancerMelviz() {

//            3406+2544+1161+436+265+62+198+18 = 8090
//            100/8090*436 = 5.4
//            100/8090*265 = 3.3
//            100/8090*62
//            100/8090*198
//            100/8090*18

            var data=

                [
                    {
                        "label": "L3",
                        "one_item": 5.4,
                        "all_items": 0.8
                    },
                    {
                        "label": "M1",
                        "one_item": 14.3,
                        "all_items": 9
                    },
                    {
                        "label": "M2",
                        "one_item": 31.4,
                        "all_items": 37.8
                    },
                    {
                        "label": "PAGR",
                        "one_item": 42.1,
                        "all_items":42.6
                    },
                    {
                        "label": "D1",
                        "one_item": 2.4,
                        "all_items": 3
                    },
                    {
                        "label": "D2",
                        "one_item": 0.8,
                        "all_items": 1.9
                    },
                    {
                        "label": "D3",
                        "one_item": 3.3,
                        "all_items": 4.7
                    },
                    {
                        "label": "FC",
                        "one_item": 0.2,
                        "all_items": 0
                    }
                ];

            viz_mediane("moyenne_container", data, 8);
        }

    </script>

    <script>

        lancerMelviz();

    </script>

{% endblock %}