{% extends "base.html.twig" %}


{% block stylesheets %}

    {{ parent() }}

    <style>

        .card{
            margin-top :20px;
            padding : 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">

        <div class="card">

            <h1>Page d'accueil de l'import des donnés de Prévu</h1>

            <p>Voir la page de <a href="{{ path('import_check') }}">vérification</a>.</p>

            <hr>

            <ul>
                {#<li>Import d'une bibliothèque : <a href="{{ path('import_library_up8') }}">up8</a>, <a href="{{ path('import_library_rbx') }}">rbx</a>, <a href="{{ path('import_library_saclay') }}">saclay</a>#}


                {#<li>Import des extras (ccodes, langues, pays, etc.) : <a href="{{ path('import_extra', {'biblio' : 'up8'}) }}">up8</a>, <a href="{{ path('import_extra', {'biblio' : 'rbx'}) }}">rbx</a>, <a href="{{ path('import_extra', {'biblio' : 'scl'}) }}">scl</a></li>#}

                <li>Import des notices et des ids (clés) : <a href="{{ path('import_books', {'biblio' : 'up8'}) }}" onclick="return confirm('Are you sure?');">up8</a>,
                    <a href="{{ path('import_books', {'biblio' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">rbx</a>,
                    <a href="{{ path('import_books', {'biblio' : 'scl'}) }}" onclick="return confirm('Are you sure?');">scl</a>,
                    <a href="{{ path('delete_books') }}" onclick="return confirm('Are you sure?');">delete all</a></li></li>
                

                <li>[attention pas de vérification]Import des emprunteurs, des exemplaires et des prêts : <a href="{{ path('import_borrowers', {'library' : 'up8'}) }}">up8</a>, <a href="{{ path('import_borrowers', {'library' : 'rbx'}) }}">rbx</a>, <a href="{{ path('import_borrowers', {'library' : 'scl'}) }}">scl</a></li>

                <li>Import des items</li>

                <li>Import des auteurs (auteurs 1, auteur 1 secondaires, auteurs 2)</li>


            </ul>
        </div>

        <div class="card">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Objets à importer</th>
                        <th>Paris 8</th>
                        <th>Roubaix</th>
                        <th>Saclay</th>
                        <th>Effacer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Livres</td>
                        <td><a href="{{ path('import_books', {'biblio' : 'up8'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_books', {'biblio' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_books', {'biblio' : 'scl'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Emprunteurs</td>
                        <td><a href="{{ path('import_borrowers', {'library' : 'up8'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_borrowers', {'library' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_borrowers', {'library' : 'scl'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Items</td>
                        <td><a href="{{ path('import_items', {'library' : 'up8'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_items', {'library' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_items', {'library' : 'scl'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Prêts</td>
                        <td><a href="{{ path('import_issues', {'library' : 'up8'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_issues', {'library' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_issues', {'library' : 'scl'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Auteurs</td>
                        <td><a href="{{ path('import_authors', {'library' : 'up8'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_authors', {'library' : 'rbx'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td><a href="{{ path('import_authors', {'library' : 'scl'}) }}" onclick="return confirm('Are you sure?');">import</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
            <p><a href="{{ path('import_stats') }}">Créer ou renouveller les stats</a></p>
        </div>

        {#<div class=" row">#}

            {#<div class="col s12">#}
                {#{% for item in stats  %}#}
                    {#<article class="card col s4">#}
                        {#<h2>{{ item.title }}</h2>#}

                        {#<p>Notices  : {{ item.books }} </p>#}
                        {#<p>Borrowers :  {{ item.borrowers }}</p>#}
                        {#<p>Items : {{ item.items }}{% if item.title == 'up8' %} / 441846{% elseif item.title == "rbx" %} / 29303{% elseif item.title == "scl" %} / 73489{% endif %} </p>#}
                        {#<p>Issues : {{ item.issues }}</p>#}

                    {#</article>#}
                {#{% endfor %}#}
            {#</div>#}

        {#</div>#}

    </section>

{% endblock %}
