{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
        <h1>Les livres contenant le mot écran - répartition singulier / pluriel</h1>

        <div class="card">
            <h2>Ratio singulier pluriel</h2>
            <table class="mini-table tablesorter  highlight">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Occurences</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in nombre  %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.nb }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}